/Assignments/LeastSquareLine/nbproject/private/
/Assignments/LeastSquareLine/build/
/Assignments/LeastSquareLine/dist/
/Assignments/CarsDatabase/nbproject/private/
/Assignments/CarsDatabase/dist/
/Assignments/CarsDatabase/build/
/Assignments/CarsDisplay/nbproject/private/
/Assignments/CarsDisplay/dist/
/Assignments/CarsDisplay/build/
/Assignments/Calculator/nbproject/private/
/Assignments/Calculator/dist/
/Assignments/Calculator/build/